.bodyIMGResult {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: #ffffff;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
}

/* Frame 985 */
.calculatorIMGResult {
	width: 214px;
	height: 696px;
	background: #ffffff;
	overflow: hidden;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
}

.calculatorIMGResultTitle {
	font-family: "Roboto Condensed";
	font-style: normal;
	font-weight: 700;
	text-align: center;
	color: #265064;
	width: 100%;
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

/* Proposta de */
.textoPropostaDe {
	font-family: "Roboto Condensed";
	font-style: normal;
	font-size: 30px;
	text-align: center;
	color: #265064;
	margin: 0;
}

/* CRÉDITO */
.textoCredito {
	font-family: "Roboto Condensed";
	font-style: normal;
	font-size: 40px;
	text-align: center;
	color: #f99401;
	margin: 0;
}

/* Consignado */
.textoConsignado {
	font-family: "Roboto Condensed";
	font-style: normal;
	font-size: 30px;
	margin: 0;
	text-align: center;
	color: #265064;
}

.calculatorIMGResultLabelDiv {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: rgba(133, 130, 130, 0.5);
}

/* Rectangle 240 */
.calculatorIMGResultLeft {
	box-sizing: border-box;
	background: radial-gradient(
			50% 50% at 50% 50%,
			rgba(38, 80, 100, 0.7) 0%,
			rgba(38, 80, 100, 0.35) 70%,
			rgba(38, 80, 100, 0.35) 100%
		),
		#265064;
	border-radius: 50px;
	font-family: "Roboto Condensed";
	font-style: normal;
	font-weight: 800;
	font-size: 8px;
	align-content: center;
	color: #ffffff;
	width: 98%;
	padding-left: 6px;
	padding-right: 0;
}

/* Rectangle 228 */
.calculatorIMGResultRight {
	background: none;
	border-radius: 10px;
	font-family: "Roboto Condensed";
	font-style: normal;
	font-weight: 400;
	text-align: center;
	color: #ffffff;
	font-size: 8px;
}

.calculatorIMGResultRight span {
	color: #f99401;
}

/* logo 1 credito real sem fundo 1 */
.logoCreditoReal {
	background: url(logo-square.svg);
}

/* Rectangle 241 */
.caixaNumero {
	background: linear-gradient(0deg, #2e2e2e 0%, #949494 100%);
	border-radius: 42.1781px;
}

/* Rectangle 257 */
.caixaValorTotal {
	background: linear-gradient(
		180deg,
		rgba(249, 169, 52, 0.8) 0%,
		rgba(249, 158, 26, 0.9) 50%,
		#f99401 100%
	);
	border-radius: 39.2571px;
}

/* VALOR TOTAL */
.textoValorTotal {
	font-family: "Roboto Condensed";
	font-style: normal;
	font-weight: 700;
	font-size: 42.3477px;
	text-align: center;
	color: #ffffff;
}

/* 987,99 */
.numeroValorTotal {
	font-family: "Roboto Condensed";
	font-style: normal;
	font-weight: 700;
	font-size: 52.6254px;
	text-align: center;
	color: #ffffff;
	border: 1.61924px solid #ffffff;
}

/* Rectangle 238 */
.caixaParcelaTotal {
	background: linear-gradient(
		180deg,
		rgba(249, 169, 52, 0.8) 0%,
		rgba(249, 158, 26, 0.9) 50%,
		#f99401 100%
	);
	border-radius: 39.2571px;
}

/* PARCELA TOTAL */
.textoParcelaTotal {
	font-family: "Roboto Condensed";
	font-style: normal;
	font-weight: 700;
	font-size: 42.3477px;
	text-align: center;
	color: #ffffff;
}

/* 987,99 */
.numeroParcelaTotal {
	font-family: "Roboto Condensed";
	font-style: normal;
	font-weight: 700;
	font-size: 52.6254px;
	text-align: center;
	color: #ffffff;
	border: 1.61924px solid #ffffff;
}

/* Rectangle 260 */
.caixaValoresPequena {
	background: linear-gradient(0deg, #2e2e2e 0%, #625d5d 50%, #625d5d 100%);
	border-radius: 5px;
	font-family: "Roboto Condensed";
	font-style: normal;
	font-weight: 500;
	font-size: 10px;
	text-align: center;
	color: #ffffff;
	padding: 5px;
	margin-top: 3px;
	width: fit-content;
	align-self: center;
}

/* Rectangle 259 */
.calculatorIMGResultDiv {
	background: linear-gradient(
		90deg,
		rgba(133, 130, 130, 0.57) 0%,
		rgba(133, 130, 130, 0.57) 50%,
		#949494 100%
	);
	border-radius: 10px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 20px;
	row-gap: 10px;
	justify-items: center;
	align-content: space-evenly;
	height: 104px;
	width: fit-content;
	align-self: center;
	padding: 9px;
}

.calculatorIMGResultValues {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	color: #ffffff;
	font-size: 8px;
}

.calculatorIMGResultValues text {
	width: 10px;
	color: #ffffff;
	margin-bottom: 9px;
}

.calculatorIMGResultValues button {
	font-size: 8px;
	width: 90px;
	margin: 0;
	margin-top: 2px;
	height: fit-content;
	padding: 3px;
}
/* Faça sua contratação presencial em uma de nossas lojas */
.calculatorIMGResultContratacao {
	font-family: "Roboto Condensed";
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	text-align: center;
	color: #000000;
	text-shadow: 0px 2.08721px 26.0901px #ffffff;
}

/* Rectangle 282 */
.calculatorIMGResultEnderecos {
	box-sizing: border-box;
	background: radial-gradient(
			50% 50% at 50% 50%,
			rgba(38, 80, 100, 0.7) 0%,
			rgba(38, 80, 100, 0.35) 70%,
			rgba(38, 80, 100, 0.175) 100%
		),
		linear-gradient(180deg, #4da2ca 0%, #397997 50%, #265064 100%);
	border-radius: 20px;
	font-family: "Roboto Condensed";
	font-style: normal;
	font-weight: 700;
	font-size: 6px;
	text-align: center;
	color: #ffffff;
	display: flex;
	flex-direction: row;
}

.calculatorIMGResultEnderecosLeft {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 50%;
}

.calculatorIMGResultEnderecosRight {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 50%;
}

.calculatorIMGResultEndereco {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 5px 0;
	height: 9px;
	width: 90px;
	font-size: 6px;
}

.calculatorIMGResultEndereco img {
	border-radius: 64.3119px;
	width: 9px;
	margin-bottom: 0;
	margin-right: 5px;
}

.calculatorIMGResultEndereco p {
	margin: 0;
	font-size: larger;
}

.calculatorIMGResultTotais {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-top: 15px;
}

/* Ajustes para valores */
.calculatorIMGResultTotal,
.calculatorIMGResultSubtotal {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding: 10px 0;
	background: linear-gradient(
		180deg,
		rgba(249, 169, 52, 0.8) 0%,
		rgba(249, 158, 26, 0.9) 50%,
		#f99401 100%
	);
	border-radius: 12px;
	color: #ffffff;
	width: 100px;
	height: 40px;
	flex-wrap: wrap;
	align-content: center;
	font-size: 10px;
	font-weight: 900;
}

.dindinResulTotal {
	font-size: 12px;
	font-weight: bolder;
}

.dindinResulTotal span {
	font-size: 10px;
	font-weight: 500;
}

.parcelaTotal {
	margin-left: 6px;
}

.divContato {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-top: 10px;
	height: 50px;
}

.contato {
	display: flex;
	padding-right: 11px;
	padding-left: 3px;
	flex-direction: row;
	font-family: "Roboto Condensed";
	font-style: normal;
	font-weight: 700;
	font-size: 10px;
	text-align: center;
	background: linear-gradient(0deg, #2e2e2e 0%, #949494 100%);
	border-radius: 50px;
	color: #ffffff;
	text-shadow: 0px 2.08721px 26.0901px #ffffff;
	height: 40%;
	align-items: center;
}

.phone-icon {
	width: 12px;
	margin-right: 3px;
	margin-bottom: 0;
	height: 12px;
	background-color: #ffffff;
	border-radius: 50%;
}

/* 08006080181 */
.textoNumero {
	font-family: "Roboto Condensed";
	font-style: normal;
	font-weight: 700;
	text-align: center;
	color: #ffffff;
	font-size: 10px;
	margin: 0;
}

.logoCreditoReal {
	width: 40px;
	margin: 0;
}
