/*!INSS Cálculo Por Margem Disponível*/
.bodyIMGResultINSS1 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: #ffffff;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
}

.calculatorIMGResultINSS1 {
	width: 225px; /* Ajustado */
	height: 500px; /* Ajustado */
	background: #ffffff;
	overflow: hidden;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
}

.calculatorIMGResultTitleINSS1 {
	font-family: "Roboto Condensed";
	font-style: normal;
	font-weight: 700;
	text-align: center;
	color: #265064;
	width: 100%;
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.textoPropostaDeINSS1 {
	font-family: "Roboto Condensed";
	font-style: normal;
	font-size: 21px; /* Ajustado */
	text-align: center;
	color: #265064;
	margin: 0;
}

.textoCreditoINSS1 {
	font-family: "Roboto Condensed";
	font-style: normal;
	font-size: 24px; /* Ajustado */
	text-align: center;
	color: #f99401;
	margin: 0;
}

.textoConsignadoINSS1 {
	font-family: "Roboto Condensed";
	font-style: normal;
	font-size: 21px; /* Ajustado */
	margin: 0;
	text-align: center;
	color: #265064;
	margin-bottom: 10px;
}

.calculatorIMGResultLabelDivINSS1 {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: rgba(133, 130, 130, 0.5);
}

.calculatorIMGResultLeftINSS1 {
	box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.24);
	box-sizing: border-box;
	background: radial-gradient(
			50% 50% at 50% 50%,
			rgba(38, 80, 100, 0.7) 0%,
			rgba(38, 80, 100, 0.35) 70%,
			rgba(38, 80, 100, 0.35) 100%
		),
		#265064;
	border-top-right-radius: 50px;
	border-bottom-right-radius: 50px;
	font-family: "Roboto Condensed";
	font-style: normal;
	font-weight: 800;
	font-size: 9px;
	align-content: center;
	color: #ffffff;
	width: 80%;
	padding-left: 8px;
	padding-right: 0;
}

.calculatorIMGResultRightINSS1 {
	background: none;
	border-radius: 3px; /* Ajustado */
	font-family: "Roboto Condensed";
	font-style: normal;
	font-weight: 400;
	text-align: center;
	color: #ffffff;
	font-size: 6px;
	padding: 2px;
}

.calculatorIMGResultRightINSS1 span {
	color: #f99401;
}

.caixaNumeroINSS1 {
	background: linear-gradient(0deg, #2e2e2e 0%, #949494 100%);
	border-radius: 12px; /* Ajustado */
}

.caixaValorTotalINSS1 {
	background: linear-gradient(
		180deg,
		rgba(249, 169, 52, 0.8) 0%,
		rgba(249, 158, 26, 0.9) 50%,
		#f99401 100%
	);
	border-radius: 12px; /* Ajustado */
}

.textoValorTotalINSS1 {
	font-family: "Roboto Condensed";
	font-style: normal;
	font-weight: 700;
	font-size: 45px; /* Ajustado */
	text-align: center;
	color: #ffffff;
}

.numeroValorTotalINSS1 {
	font-family: "Roboto Condensed";
	font-style: normal;
	font-weight: 700;
	font-size: 55px; /* Ajustado */
	text-align: center;
	color: #ffffff;
	border: 0.5px solid #ffffff; /* Ajustado */
}

.caixaParcelaTotalINSS1 {
	background: linear-gradient(
		180deg,
		rgba(249, 169, 52, 0.8) 0%,
		rgba(249, 158, 26, 0.9) 50%,
		#f99401 100%
	);
	border-radius: 12px; /* Ajustado */
}

.textoParcelaTotalINSS1 {
	font-family: "Roboto Condensed";
	font-style: normal;
	font-weight: 700;
	font-size: 45px; /* Ajustado */
	text-align: center;
	color: #ffffff;
}

.numeroParcelaTotalINSS1 {
	font-family: "Roboto Condensed";
	font-style: normal;
	font-weight: 700;
	font-size: 55px; /* Ajustado */
	text-align: center;
	color: #ffffff;
	border: 0.5px solid #ffffff; /* Ajustado */
}

.calculatorIMGResultGridINSS1 {
	position: relative;
	top: -24px;
	grid-row: 2 / 3;
	display: grid;
	grid-template-columns: repeat(2, 1fr); /* Cria duas colunas */
	gap: 10px; /* Espaçamento entre as colunas */
	width: 100%; /* Garante que o grid ocupe toda a largura disponível */
}

.caixaValoresPequenaINSS1 {
	background: linear-gradient(0deg, #2e2e2e 0%, #625d5d 50%, #625d5d 100%);
	border-radius: 3px;
	font-family: "Roboto Condensed";
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	text-align: center;
	color: #ffffff;
	padding: 3px;
	margin-top: 3px;
	width: fit-content;
	align-self: center;
	grid-row: 1 / 2;
	position: relative;
	top: -20px;
}

.calculatorIMGResultDivINSS1 {
	position: relative;
	top: 12px;
	display: grid;
	grid-template-rows: auto 1fr;
	gap: 10px; /* Espaçamento entre VALORES e o grid */
	/* position: absolute;
	top: -50%; */
	background: linear-gradient(
		90deg,
		rgba(133, 130, 130, 0.57) 0%,
		rgba(133, 130, 130, 0.57) 50%,
		#949494 100%
	);
	border-radius: 12px; /* Ajustado */
	/* display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 18px; 
	row-gap: 8px;  */
	justify-items: center;
	align-content: space-evenly;
	height: 113px; /* Ajustado */
	width: fit-content;
	align-self: center;
	padding: 10px; /* Ajustado */
}

.calculatorIMGResultValuesINSS1 {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	color: #ffffff;
	font-size: 8px; /* Ajustado */
}

.calculatorIMGResultValuesINSS1 text {
	width: 10px; /* Ajustado */
	color: #ffffff;
	margin-bottom: 10px; /* Ajustado */
}

.calculatorIMGResultValuesINSS1 button {
	font-size: 7px; /* Ajustado */
	width: 70px; /* Ajustado */
	margin: 0;
	margin-top: 2px; /* Ajustado */
	height: fit-content;
	padding: 4px; /* Ajustado */
}

.calculatorIMGResultContratacaoINSS1 {
	font-family: "Roboto Condensed";
	font-style: normal;
	font-weight: bold;
	font-size: 10px;
	text-align: center;
	color: #000000;
	text-shadow: 0px 0.6px 8.3px #ffffff;
	margin-top: 16px;
}

.calculatorIMGResultEnderecosINSS1 {
	box-sizing: border-box;
	background: radial-gradient(
			50% 50% at 50% 50%,
			rgba(38, 80, 100, 0.7) 0%,
			rgba(38, 80, 100, 0.35) 70%,
			rgba(38, 80, 100, 0.175) 100%
		),
		linear-gradient(180deg, #4da2ca 0%, #397997 50%, #265064 100%);
	border-radius: 6px; /* Ajustado */
	font-family: "Roboto Condensed";
	font-style: normal;
	font-weight: 700;
	text-align: center;
	color: #ffffff;
	display: flex;
	flex-direction: row;
	padding: 4px;
}

.calculatorIMGResultEnderecosLeftINSS1 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 50%;
}

.calculatorIMGResultEnderecosRightINSS1 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 50%;
}

.calculatorIMGResultEnderecoINSS1 {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 2px 0;
	height: 10px;
	width: 100px;
}

.calculatorIMGResultEnderecoINSS1 img {
	border-radius: 18px; /* Ajustado */
	width: 10px; /* Ajustado */
	margin-bottom: 0;
	margin-right: 6px; /* Ajustado */
}

.calculatorIMGResultEnderecoINSS1 p {
	margin: 0;
	font-size: 8px;
}

.calculatorIMGResultTotaisINSS1 {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	margin-top: 16px;
}

.calculatorIMGResultTotalINSS1,
.calculatorIMGResultSubtotalINSS1 {
	box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.24);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 8px 0;
	background: linear-gradient(
		180deg,
		rgba(249, 169, 52, 0.8) 0%,
		rgba(249, 158, 26, 0.9) 50%,
		#f99401 100%
	);
	border-radius: 8px;
	color: #ffffff;
	width: 102px;
	height: 28px;
	flex-wrap: wrap;
	align-items: center;
	font-size: 10px;
	font-weight: 600;
}

.dindinResulTotalINSS1 {
	font-size: 11px; /* Ajustado */
	font-weight: bolder;
}

.dindinResulTotalINSS1 span {
	font-size: 9px; /* Ajustado */
	font-weight: 500;
}

.parcelaTotalINSS1 {
	margin-left: 7px; /* Ajustado */
}

.divContatoINSS1 {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-top: 8px;
	height: 42px;
}

.contatoINSS1 {
	display: flex;
	padding-right: 12px;
	padding-left: 8px;
	flex-direction: row;
	background: linear-gradient(0deg, #2e2e2e 0%, #949494 100%);
	border-radius: 14px;
	color: #ffffff;
	text-shadow: 0px 0.12px 1.2px #ffffff;
	height: 24px;
	width: 104px;
	align-items: center;
	box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.8);
}

.phone-iconINSS1 {
	width: 16px;
	margin-right: 8px;
	margin-bottom: 0;
	height: 16px;
	background-color: #ffffff;
	border-radius: 50%;
}

.textoNumeroINSS1 {
	font-family: "Roboto Condensed";
	font-style: normal;
	font-weight: 700;
	text-align: center;
	color: #ffffff;
	font-size: 12px;
	margin: 0;
}

.logoCreditoRealINSS1 {
	width: 42px;
	margin: 0;
}

/*!INSS Cálculo Valor Solicitado*/
.bodyIMGResultINSS2 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: #ffffff;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
}

.calculatorIMGResultINSS2 {
	width: 225px; /* Ajustado */
	height: 500px; /* Ajustado */
	background: #ffffff;
	overflow: hidden;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
}

.calculatorIMGResultTitleINSS2 {
	font-family: "Roboto Condensed";
	font-style: normal;
	font-weight: 700;
	text-align: center;
	color: #265064;
	width: 100%;
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.textoPropostaDeINSS2 {
	font-family: "Roboto Condensed";
	font-style: normal;
	font-size: 21px; /* Ajustado */
	text-align: center;
	color: #265064;
	margin: 0;
}

.textoCreditoINSS2 {
	font-family: "Roboto Condensed";
	font-style: normal;
	font-size: 24px; /* Ajustado */
	text-align: center;
	color: #f99401;
	margin: 0;
}

.textoConsignadoINSS2 {
	font-family: "Roboto Condensed";
	font-style: normal;
	font-size: 21px; /* Ajustado */
	margin: 0;
	text-align: center;
	color: #265064;
	margin-bottom: 10px;
}

.calculatorIMGResultLabelDivINSS2 {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: rgba(133, 130, 130, 0.5);
}

.calculatorIMGResultLeftINSS2 {
	box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.24);
	box-sizing: border-box;
	background: radial-gradient(
			50% 50% at 50% 50%,
			rgba(38, 80, 100, 0.7) 0%,
			rgba(38, 80, 100, 0.35) 70%,
			rgba(38, 80, 100, 0.35) 100%
		),
		#265064;
	border-top-right-radius: 50px;
	border-bottom-right-radius: 50px;
	font-family: "Roboto Condensed";
	font-style: normal;
	font-weight: 800;
	font-size: 9px;
	align-content: center;
	color: #ffffff;
	width: 80%;
	padding-left: 8px;
	padding-right: 0;
}

.calculatorIMGResultRightINSS2 {
	background: none;
	border-radius: 3px; /* Ajustado */
	font-family: "Roboto Condensed";
	font-style: normal;
	font-weight: 400;
	text-align: center;
	color: #ffffff;
	font-size: 6px;
	padding: 2px;
}

.calculatorIMGResultRightINSS2 span {
	color: #f99401;
}

.caixaNumeroINSS2 {
	background: linear-gradient(0deg, #2e2e2e 0%, #949494 100%);
	border-radius: 12px; /* Ajustado */
}

.caixaValorTotalINSS2 {
	background: linear-gradient(
		180deg,
		rgba(249, 169, 52, 0.8) 0%,
		rgba(249, 158, 26, 0.9) 50%,
		#f99401 100%
	);
	border-radius: 12px; /* Ajustado */
}

.textoValorTotalINSS2 {
	font-family: "Roboto Condensed";
	font-style: normal;
	font-weight: 700;
	font-size: 45px; /* Ajustado */
	text-align: center;
	color: #ffffff;
}

.numeroValorTotalINSS2 {
	font-family: "Roboto Condensed";
	font-style: normal;
	font-weight: 700;
	font-size: 55px; /* Ajustado */
	text-align: center;
	color: #ffffff;
	border: 0.5px solid #ffffff; /* Ajustado */
}

.caixaParcelaTotalINSS2 {
	background: linear-gradient(
		180deg,
		rgba(249, 169, 52, 0.8) 0%,
		rgba(249, 158, 26, 0.9) 50%,
		#f99401 100%
	);
	border-radius: 12px; /* Ajustado */
}

.textoParcelaTotalINSS2 {
	font-family: "Roboto Condensed";
	font-style: normal;
	font-weight: 700;
	font-size: 45px; /* Ajustado */
	text-align: center;
	color: #ffffff;
}

.numeroParcelaTotalINSS2 {
	font-family: "Roboto Condensed";
	font-style: normal;
	font-weight: 700;
	font-size: 55px; /* Ajustado */
	text-align: center;
	color: #ffffff;
	border: 0.5px solid #ffffff; /* Ajustado */
}

.calculatorIMGResultGridINSS2 {
	position: relative;
	top: -12px;
	width: 100%;
}

.caixaValoresPequenaINSS2 {
	background: linear-gradient(0deg, #2e2e2e 0%, #625d5d 50%, #625d5d 100%);
	border-radius: 3px;
	font-family: "Roboto Condensed";
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	text-align: center;
	color: #ffffff;
	padding: 3px;
	margin-top: 3px;
	width: fit-content;
	align-self: center;
	grid-row: 1 / 2;
	position: relative;
	top: -20px;
}

.calculatorIMGResultDivINSS2 {
	position: relative;
	top: 16px;
	display: flex;
	background: linear-gradient(
		90deg,
		rgba(133, 130, 130, 0.57) 0%,
		rgba(133, 130, 130, 0.57) 50%,
		#949494 100%
	);
	border-radius: 12px;
	height: 42px;
	width: 200px;
	padding: 10px;
	flex-direction: column;
	align-items: center;
}

.calculatorIMGResultValuesINSS2 {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	color: #ffffff;
	font-size: 10px; /* Ajustado */
}

.calculatorIMGResultValuesINSS2 text {
	width: 10px; /* Ajustado */
	color: #ffffff;
	margin-bottom: 10px; /* Ajustado */
}

.calculatorIMGResultValuesINSS2 button {
	font-size: 9px;
	width: 90px;
	margin: 0;
	margin-top: 2px;
	height: fit-content;
	padding: 4px;
}

.calculatorIMGResultContratacaoINSS2 {
	font-family: "Roboto Condensed";
	font-style: normal;
	font-weight: bold;
	font-size: 11px; /* Ajustado */
	text-align: center;
	color: #000000;
	text-shadow: 0px 0.6px 8.3px #ffffff;
	margin-top: 28px;
}

.calculatorIMGResultEnderecosINSS2 {
	box-sizing: border-box;
	background: radial-gradient(
			50% 50% at 50% 50%,
			rgba(38, 80, 100, 0.7) 0%,
			rgba(38, 80, 100, 0.35) 70%,
			rgba(38, 80, 100, 0.175) 100%
		),
		linear-gradient(180deg, #4da2ca 0%, #397997 50%, #265064 100%);
	border-radius: 6px; /* Ajustado */
	font-family: "Roboto Condensed";
	font-style: normal;
	font-weight: 700;
	text-align: center;
	color: #ffffff;
	display: flex;
	flex-direction: row;
	padding: 4px;
}

.calculatorIMGResultEnderecosLeftINSS2 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 50%;
}

.calculatorIMGResultEnderecosRightINSS2 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 50%;
}

.calculatorIMGResultEnderecoINSS2 {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 4px 0;
	height: 10px;
	width: 100px;
}

.calculatorIMGResultEnderecoINSS2 img {
	border-radius: 18px; /* Ajustado */
	width: 10px; /* Ajustado */
	margin-bottom: 0;
	margin-right: 6px; /* Ajustado */
}

.calculatorIMGResultEnderecoINSS2 p {
	margin: 0;
	font-size: 8px;
}

.calculatorIMGResultTotaisINSS2 {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	margin-top: 16px;
}

.calculatorIMGResultTotalINSS2,
.calculatorIMGResultSubtotalINSS2 {
	box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.24);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 8px 0;
	background: linear-gradient(
		180deg,
		rgba(249, 169, 52, 0.8) 0%,
		rgba(249, 158, 26, 0.9) 50%,
		#f99401 100%
	);
	border-radius: 8px;
	color: #ffffff;
	width: 102px;
	height: 28px;
	flex-wrap: wrap;
	align-items: center;
	font-size: 10px;
	font-weight: 600;
}

.dindinResulTotalINSS2 {
	font-size: 11px; /* Ajustado */
	font-weight: bolder;
}

.dindinResulTotalINSS2 span {
	font-size: 9px; /* Ajustado */
	font-weight: 500;
}

.parcelaTotalINSS2 {
	margin-left: 7px; /* Ajustado */
}

.divContatoINSS2 {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-top: 8px;
	height: 42px;
}

.contatoINSS2 {
	display: flex;
	padding-right: 12px;
	padding-left: 8px;
	flex-direction: row;
	background: linear-gradient(0deg, #2e2e2e 0%, #949494 100%);
	border-radius: 14px;
	color: #ffffff;
	text-shadow: 0px 0.12px 1.2px #ffffff;
	height: 24px;
	width: 104px;
	align-items: center;
	box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.8);
}

.phone-iconINSS2 {
	width: 16px;
	margin-right: 8px;
	margin-bottom: 0;
	height: 16px;
	background-color: #ffffff;
	border-radius: 50%;
}

.textoNumeroINSS2 {
	font-family: "Roboto Condensed";
	font-style: normal;
	font-weight: 700;
	text-align: center;
	color: #ffffff;
	font-size: 12px;
	margin: 0;
}

.logoCreditoRealINSS2 {
	width: 42px;
	margin: 0;
}

/*!INSS Cálculo Salário Cliente Sem Cartão*/
.bodyIMGResultINSS3 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: #ffffff;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
}

.calculatorIMGResultINSS3 {
	width: 225px; /* Ajustado */
	height: 500px; /* Ajustado */
	background: #ffffff;
	overflow: hidden;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
}

.calculatorIMGResultTitleINSS3 {
	font-family: "Roboto Condensed";
	font-style: normal;
	font-weight: 700;
	text-align: center;
	color: #265064;
	width: 100%;
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.textoPropostaDeINSS3 {
	font-family: "Roboto Condensed";
	font-style: normal;
	font-size: 21px; /* Ajustado */
	text-align: center;
	color: #265064;
	margin: 0;
}

.textoCreditoINSS3 {
	font-family: "Roboto Condensed";
	font-style: normal;
	font-size: 24px; /* Ajustado */
	text-align: center;
	color: #f99401;
	margin: 0;
}

.textoConsignadoINSS3 {
	font-family: "Roboto Condensed";
	font-style: normal;
	font-size: 21px; /* Ajustado */
	margin: 0;
	text-align: center;
	color: #265064;
	margin-bottom: 10px;
}

.calculatorIMGResultLabelDivINSS3 {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: rgba(133, 130, 130, 0.5);
}

.calculatorIMGResultLeftINSS3 {
	box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.24);
	box-sizing: border-box;
	background: radial-gradient(
			50% 50% at 50% 50%,
			rgba(38, 80, 100, 0.7) 0%,
			rgba(38, 80, 100, 0.35) 70%,
			rgba(38, 80, 100, 0.35) 100%
		),
		#265064;
	border-top-right-radius: 50px;
	border-bottom-right-radius: 50px;
	font-family: "Roboto Condensed";
	font-style: normal;
	font-weight: 800;
	font-size: 9px;
	align-content: center;
	color: #ffffff;
	width: 80%;
	padding-left: 8px;
	padding-right: 0;
}

.calculatorIMGResultRightINSS3 {
	background: none;
	border-radius: 3px; /* Ajustado */
	font-family: "Roboto Condensed";
	font-style: normal;
	font-weight: 400;
	text-align: center;
	color: #ffffff;
	font-size: 6px;
	padding: 2px;
}

.calculatorIMGResultRightINSS3 span {
	color: #f99401;
}

.caixaNumeroINSS3 {
	background: linear-gradient(0deg, #2e2e2e 0%, #949494 100%);
	border-radius: 12px; /* Ajustado */
}

.caixaValorTotalINSS3 {
	background: linear-gradient(
		180deg,
		rgba(249, 169, 52, 0.8) 0%,
		rgba(249, 158, 26, 0.9) 50%,
		#f99401 100%
	);
	border-radius: 12px; /* Ajustado */
}

.textoValorTotalINSS3 {
	font-family: "Roboto Condensed";
	font-style: normal;
	font-weight: 700;
	font-size: 45px; /* Ajustado */
	text-align: center;
	color: #ffffff;
}

.numeroValorTotalINSS3 {
	font-family: "Roboto Condensed";
	font-style: normal;
	font-weight: 700;
	font-size: 55px; /* Ajustado */
	text-align: center;
	color: #ffffff;
	border: 0.5px solid #ffffff; /* Ajustado */
}

.caixaParcelaTotalINSS3 {
	background: linear-gradient(
		180deg,
		rgba(249, 169, 52, 0.8) 0%,
		rgba(249, 158, 26, 0.9) 50%,
		#f99401 100%
	);
	border-radius: 12px; /* Ajustado */
}

.textoParcelaTotalINSS3 {
	font-family: "Roboto Condensed";
	font-style: normal;
	font-weight: 700;
	font-size: 45px; /* Ajustado */
	text-align: center;
	color: #ffffff;
}

.numeroParcelaTotalINSS3 {
	font-family: "Roboto Condensed";
	font-style: normal;
	font-weight: 700;
	font-size: 55px; /* Ajustado */
	text-align: center;
	color: #ffffff;
	border: 0.5px solid #ffffff; /* Ajustado */
}

.calculatorIMGResultGridINSS3 {
	position: relative;
	top: -24px;
	grid-row: 2 / 3;
	display: grid;
	grid-template-columns: repeat(2, 1fr); /* Cria duas colunas */
	gap: 10px; /* Espaçamento entre as colunas */
	width: 100%; /* Garante que o grid ocupe toda a largura disponível */
}

.caixaValoresPequenaINSS3 {
	background: linear-gradient(0deg, #2e2e2e 0%, #625d5d 50%, #625d5d 100%);
	border-radius: 3px;
	font-family: "Roboto Condensed";
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	text-align: center;
	color: #ffffff;
	padding: 3px;
	margin-top: 3px;
	width: fit-content;
	align-self: center;
	grid-row: 1 / 2;
	position: relative;
	top: -20px;
}

.calculatorIMGResultDivINSS3 {
	background: linear-gradient(
		90deg,
		rgba(133, 130, 130, 0.57) 0%,
		rgba(133, 130, 130, 0.57) 50%,
		#949494 100%
	);
	border-radius: 12px;
	display: grid;
	column-gap: 18px;
	row-gap: 8px;
	justify-items: center;
	align-content: space-evenly;
	height: 40px;
	width: 90%;
	align-self: center;
	padding: 10px;
	margin-top: 21px;
}

.calculatorIMGResultValuesINSS3 {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	color: #ffffff;
	font-size: 8px; /* Ajustado */
}

.calculatorIMGResultValuesINSS3 text {
	width: 10px; /* Ajustado */
	color: #ffffff;
	margin-bottom: 10px; /* Ajustado */
}

.calculatorIMGResultValuesINSS3 button {
	font-size: 7px; /* Ajustado */
	width: 70px; /* Ajustado */
	margin: 0;
	margin-top: 2px; /* Ajustado */
	height: fit-content;
	padding: 4px; /* Ajustado */
}

.calculatorIMGResultContratacaoINSS3 {
	font-family: "Roboto Condensed";
	font-style: normal;
	font-weight: bold;
	font-size: 12px; /* Ajustado */
	text-align: center;
	color: #000000;
	text-shadow: 0px 0.6px 8.3px #ffffff; /* Ajustado */
}

.calculatorIMGResultEnderecosINSS3 {
	box-sizing: border-box;
	background: radial-gradient(
			50% 50% at 50% 50%,
			rgba(38, 80, 100, 0.7) 0%,
			rgba(38, 80, 100, 0.35) 70%,
			rgba(38, 80, 100, 0.175) 100%
		),
		linear-gradient(180deg, #4da2ca 0%, #397997 50%, #265064 100%);
	border-radius: 6px; /* Ajustado */
	font-family: "Roboto Condensed";
	font-style: normal;
	font-weight: 700;
	text-align: center;
	color: #ffffff;
	display: flex;
	flex-direction: row;
	padding: 4px;
}

.calculatorIMGResultEnderecosLeftINSS3 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 50%;
}

.calculatorIMGResultEnderecosRightINSS3 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 50%;
}

.calculatorIMGResultEnderecoINSS3 {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 2px 0;
	height: 10px;
	width: 100px;
}

.calculatorIMGResultEnderecoINSS3 img {
	border-radius: 18px; /* Ajustado */
	width: 10px; /* Ajustado */
	margin-bottom: 0;
	margin-right: 6px; /* Ajustado */
}

.calculatorIMGResultEnderecoINSS3 p {
	margin: 0;
	font-size: 8px;
}

.calculatorIMGResultTotaisINSS3 {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	margin-top: 16px;
}

.calculatorIMGResultSubtotaisINSS3 {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-top: 19px;
}

.calculatorIMGResultSubtotalINSS3,
.calculatorIMGResultSubtotalParcelaINSS3 {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding: 12px 0; /* Ajustado */
	background: linear-gradient(
		180deg,
		rgba(249, 169, 52, 0.8) 0%,
		rgba(249, 158, 26, 0.9) 50%,
		#f99401 100%
	);
	border-radius: 3px; /* Ajustado */
	color: #ffffff;
	width: 80px; /* Ajustado */
	height: 21px; /* Ajustado */
	flex-wrap: wrap;
	align-content: center;
	font-size: 6px; /* Ajustado */
	font-weight: 900;
}

.textLiberadoINSS3 {
	font-family: Roboto Condensed;
	font-style: normal;
	font-weight: 700;
	font-size: 9px;
	text-align: center;
	color: #000;
}

.textLiberadoINSS3 span {
	font-size: 9px;
	font-weight: 500;
	color: #fff;
	background-color: #f99401;
	border-radius: 8px;
	padding: 0px 2.4px;
}

.calculatorIMGResultTotalINSS3,
.calculatorIMGResultSubtotalINSS3,
.calculatorIMGResultParcelaINSS3 {
	box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.24);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 8px 0;
	background: linear-gradient(
		180deg,
		rgba(249, 169, 52, 0.8) 0%,
		rgba(249, 158, 26, 0.9) 50%,
		#f99401 100%
	);
	border-radius: 8px;
	color: #ffffff;
	width: 102px;
	height: 28px;
	flex-wrap: wrap;
	align-items: center;
	font-size: 10px;
	font-weight: 600;
}

.dindinResulTotalINSS3 {
	font-size: 11px; /* Ajustado */
	font-weight: bolder;
}

.dindinResulTotalINSS3 span {
	font-size: 9px; /* Ajustado */
	font-weight: 500;
}

.parcelaTotalINSS3 {
	margin-left: 7px; /* Ajustado */
}

.divContatoINSS3 {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-top: 8px;
	height: 42px;
}

.contatoINSS3 {
	display: flex;
	padding-right: 12px;
	padding-left: 8px;
	flex-direction: row;
	background: linear-gradient(0deg, #2e2e2e 0%, #949494 100%);
	border-radius: 14px;
	color: #ffffff;
	text-shadow: 0px 0.12px 1.2px #ffffff;
	height: 24px;
	width: 104px;
	align-items: center;
	box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.8);
}

.phone-iconINSS3 {
	width: 16px;
	margin-right: 8px;
	margin-bottom: 0;
	height: 16px;
	background-color: #ffffff;
	border-radius: 50%;
}

.textoNumeroINSS3 {
	font-family: "Roboto Condensed";
	font-style: normal;
	font-weight: 700;
	text-align: center;
	color: #ffffff;
	font-size: 12px;
	margin: 0;
}

.logoCreditoRealINSS3 {
	width: 42px;
	margin: 0;
}

/*!INSS Cálculo Salário Cliente*/
.bodyIMGResultINSS4 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: #ffffff;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
}

.calculatorIMGResultINSS4 {
	width: 225px; /* Ajustado */
	height: 500px; /* Ajustado */
	background: #ffffff;
	overflow: hidden;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
}

.calculatorIMGResultTitleINSS4 {
	font-family: "Roboto Condensed";
	font-style: normal;
	font-weight: 700;
	text-align: center;
	color: #265064;
	width: 100%;
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.textoPropostaDeINSS4 {
	font-family: "Roboto Condensed";
	font-style: normal;
	font-size: 21px; /* Ajustado */
	text-align: center;
	color: #265064;
	margin: 0;
}

.textoCreditoINSS4 {
	font-family: "Roboto Condensed";
	font-style: normal;
	font-size: 24px; /* Ajustado */
	text-align: center;
	color: #f99401;
	margin: 0;
}

.textoConsignadoINSS4 {
	font-family: "Roboto Condensed";
	font-style: normal;
	font-size: 21px; /* Ajustado */
	margin: 0;
	text-align: center;
	color: #265064;
	margin-bottom: 10px;
}

.calculatorIMGResultLabelDivINSS4 {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: rgba(133, 130, 130, 0.5);
}

.calculatorIMGResultLeftINSS4 {
	box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.24);
	box-sizing: border-box;
	background: radial-gradient(
			50% 50% at 50% 50%,
			rgba(38, 80, 100, 0.7) 0%,
			rgba(38, 80, 100, 0.35) 70%,
			rgba(38, 80, 100, 0.35) 100%
		),
		#265064;
	border-top-right-radius: 50px;
	border-bottom-right-radius: 50px;
	font-family: "Roboto Condensed";
	font-style: normal;
	font-weight: 800;
	font-size: 9px;
	align-content: center;
	color: #ffffff;
	width: 80%;
	padding-left: 8px;
	padding-right: 0;
}

.calculatorIMGResultRightINSS4 {
	background: none;
	border-radius: 3px; /* Ajustado */
	font-family: "Roboto Condensed";
	font-style: normal;
	font-weight: 400;
	text-align: center;
	color: #ffffff;
	font-size: 6px;
	padding: 2px;
}

.calculatorIMGResultRightINSS4 span {
	color: #f99401;
}

.caixaNumeroINSS4 {
	background: linear-gradient(0deg, #2e2e2e 0%, #949494 100%);
	border-radius: 12px; /* Ajustado */
}

.caixaValorTotalINSS4 {
	background: linear-gradient(
		180deg,
		rgba(249, 169, 52, 0.8) 0%,
		rgba(249, 158, 26, 0.9) 50%,
		#f99401 100%
	);
	border-radius: 12px; /* Ajustado */
}

.textoValorTotalINSS4 {
	font-family: "Roboto Condensed";
	font-style: normal;
	font-weight: 700;
	font-size: 45px; /* Ajustado */
	text-align: center;
	color: #ffffff;
}

.numeroValorTotalINSS4 {
	font-family: "Roboto Condensed";
	font-style: normal;
	font-weight: 700;
	font-size: 55px; /* Ajustado */
	text-align: center;
	color: #ffffff;
	border: 0.5px solid #ffffff; /* Ajustado */
}

.caixaParcelaTotalINSS4 {
	background: linear-gradient(
		180deg,
		rgba(249, 169, 52, 0.8) 0%,
		rgba(249, 158, 26, 0.9) 50%,
		#f99401 100%
	);
	border-radius: 12px; /* Ajustado */
}

.textoParcelaTotalINSS4 {
	font-family: "Roboto Condensed";
	font-style: normal;
	font-weight: 700;
	font-size: 45px; /* Ajustado */
	text-align: center;
	color: #ffffff;
}

.numeroParcelaTotalINSS4 {
	font-family: "Roboto Condensed";
	font-style: normal;
	font-weight: 700;
	font-size: 55px; /* Ajustado */
	text-align: center;
	color: #ffffff;
	border: 0.5px solid #ffffff; /* Ajustado */
}

.calculatorIMGResultGridINSS4 {
	position: relative;
	top: -24px;
	grid-row: 2 / 3;
	display: grid;
	grid-template-columns: repeat(2, 1fr); /* Cria duas colunas */
	gap: 10px; /* Espaçamento entre as colunas */
	width: 100%; /* Garante que o grid ocupe toda a largura disponível */
}

.caixaValoresPequenaINSS4 {
	background: linear-gradient(0deg, #2e2e2e 0%, #625d5d 50%, #625d5d 100%);
	border-radius: 3px;
	font-family: "Roboto Condensed";
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	text-align: center;
	color: #ffffff;
	padding: 3px;
	margin-top: 3px;
	width: fit-content;
	align-self: center;
	grid-row: 1 / 2;
	position: relative;
	top: -21px;
}

.calculatorIMGResultDivINSS4 {
	position: relative;
	top: 10px;
	background: linear-gradient(
		90deg,
		rgba(133, 130, 130, 0.57) 0%,
		rgba(133, 130, 130, 0.57) 50%,
		#949494 100%
	);
	border-radius: 12px; /* Ajustado */
	display: grid;
	column-gap: 18px; /* Ajustado */
	row-gap: 8px; /* Ajustado */
	justify-items: center;
	align-content: space-evenly;
	height: 113px; /* Ajustado */
	width: fit-content;
	align-self: center;
	padding: 10px; /* Ajustado */
}

.calculatorIMGResultValuesINSS4 {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	color: #ffffff;
	font-size: 8px; /* Ajustado */
}

.calculatorIMGResultValuesINSS4 text {
	width: 10px; /* Ajustado */
	color: #ffffff;
	margin-bottom: 10px; /* Ajustado */
}

.calculatorIMGResultValuesINSS4 button {
	font-size: 7px; /* Ajustado */
	width: 70px; /* Ajustado */
	margin: 0;
	margin-top: 2px; /* Ajustado */
	height: fit-content;
	padding: 4px; /* Ajustado */
}

.calculatorIMGResultContratacaoINSS4 {
	font-family: "Roboto Condensed";
	font-style: normal;
	font-weight: bold;
	font-size: 12px; /* Ajustado */
	text-align: center;
	color: #000000;
	text-shadow: 0px 0.6px 8.3px #ffffff; /* Ajustado */
	margin-top: 21px;
}

.calculatorIMGResultEnderecosINSS4 {
	box-sizing: border-box;
	background: radial-gradient(
			50% 50% at 50% 50%,
			rgba(38, 80, 100, 0.7) 0%,
			rgba(38, 80, 100, 0.35) 70%,
			rgba(38, 80, 100, 0.175) 100%
		),
		linear-gradient(180deg, #4da2ca 0%, #397997 50%, #265064 100%);
	border-radius: 6px; /* Ajustado */
	font-family: "Roboto Condensed";
	font-style: normal;
	font-weight: 700;
	text-align: center;
	color: #ffffff;
	display: flex;
	flex-direction: row;
	padding: 4px;
}

.calculatorIMGResultEnderecosLeftINSS4 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 50%;
}

.calculatorIMGResultEnderecosRightINSS4 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 50%;
}

.calculatorIMGResultEnderecoINSS4 {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 2px 0;
	height: 10px;
	width: 100px;
}

.calculatorIMGResultEnderecoINSS4 img {
	border-radius: 18px; /* Ajustado */
	width: 10px; /* Ajustado */
	margin-bottom: 0;
	margin-right: 6px; /* Ajustado */
}

.calculatorIMGResultEnderecoINSS4 p {
	margin: 0;
	font-size: 8px;
}

.calculatorIMGResultTotaisINSS4 {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	margin-top: 16px;
}

.calculatorIMGResultSubtotalINSS4,
.calculatorIMGResultSubtotalParcelaINSS4 {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding: 12px 0; /* Ajustado */
	background: linear-gradient(
		180deg,
		rgba(249, 169, 52, 0.8) 0%,
		rgba(249, 158, 26, 0.9) 50%,
		#f99401 100%
	);
	border-radius: 3px; /* Ajustado */
	color: #ffffff;
	width: 80px; /* Ajustado */
	height: 21px; /* Ajustado */
	flex-wrap: wrap;
	align-content: center;
	font-size: 6px; /* Ajustado */
	font-weight: 900;
}

.calculatorIMGResultTotalINSS4,
.calculatorIMGResultSubtotalINSS4 {
	box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.24);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 8px 0;
	background: linear-gradient(
		180deg,
		rgba(249, 169, 52, 0.8) 0%,
		rgba(249, 158, 26, 0.9) 50%,
		#f99401 100%
	);
	border-radius: 8px;
	color: #ffffff;
	width: 102px;
	height: 28px;
	flex-wrap: wrap;
	align-items: center;
	font-size: 10px;
	font-weight: 600;
}

.dindinResulTotalINSS4 {
	font-size: 11px; /* Ajustado */
	font-weight: bolder;
}

.dindinResulTotalINSS4 span {
	font-size: 9px; /* Ajustado */
	font-weight: 500;
}

.parcelaTotalINSS4 {
	margin-left: 7px; /* Ajustado */
}

.divContatoINSS4 {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-top: 8px;
	height: 42px;
}

.contatoINSS4 {
	display: flex;
	padding-right: 12px;
	padding-left: 8px;
	flex-direction: row;
	background: linear-gradient(0deg, #2e2e2e 0%, #949494 100%);
	border-radius: 14px;
	color: #ffffff;
	text-shadow: 0px 0.12px 1.2px #ffffff;
	height: 24px;
	width: 104px;
	align-items: center;
	box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.8);
}

.phone-iconINSS4 {
	width: 16px;
	margin-right: 8px;
	margin-bottom: 0;
	height: 16px;
	background-color: #ffffff;
	border-radius: 50%;
}

.textoNumeroINSS4 {
	font-family: "Roboto Condensed";
	font-style: normal;
	font-weight: 700;
	text-align: center;
	color: #ffffff;
	font-size: 12px;
	margin: 0;
}

.logoCreditoRealINSS4 {
	width: 42px;
	margin: 0;
}

/*!INSS Possibilidades Gerais*/
.bodyIMGResultINSS5 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: #ffffff;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
}

.calculatorIMGResultINSS5 {
	width: 225px; /* Ajustado */
	height: 500px; /* Ajustado */
	background: #ffffff;
	overflow: hidden;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
}

.calculatorIMGResultTitleINSS5 {
	font-family: "Roboto Condensed";
	font-style: normal;
	font-weight: 700;
	text-align: center;
	color: #265064;
	width: 100%;
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.textoPropostaDeINSS5 {
	font-family: "Roboto Condensed";
	font-style: normal;
	font-size: 21px; /* Ajustado */
	text-align: center;
	color: #265064;
	margin: 0;
}

.textoCreditoINSS5 {
	font-family: "Roboto Condensed";
	font-style: normal;
	font-size: 24px; /* Ajustado */
	text-align: center;
	color: #f99401;
	margin: 0;
}

.textoConsignadoINSS5 {
	font-family: "Roboto Condensed";
	font-style: normal;
	font-size: 21px; /* Ajustado */
	margin: 0;
	text-align: center;
	color: #265064;
	margin-bottom: 10px;
}

.calculatorIMGResultLabelDivINSS5 {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: rgba(133, 130, 130, 0.5);
}

.calculatorIMGResultLeftINSS5 {
	box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.24);
	box-sizing: border-box;
	background: radial-gradient(
			50% 50% at 50% 50%,
			rgba(38, 80, 100, 0.7) 0%,
			rgba(38, 80, 100, 0.35) 70%,
			rgba(38, 80, 100, 0.35) 100%
		),
		#265064;
	border-top-right-radius: 50px;
	border-bottom-right-radius: 50px;
	font-family: "Roboto Condensed";
	font-style: normal;
	font-weight: 800;
	font-size: 9px;
	align-content: center;
	color: #ffffff;
	width: 80%;
	padding-left: 8px;
	padding-right: 0;
}

.calculatorIMGResultRightINSS5 {
	background: none;
	border-radius: 3px; /* Ajustado */
	font-family: "Roboto Condensed";
	font-style: normal;
	font-weight: 400;
	text-align: center;
	color: #ffffff;
	font-size: 6px;
	padding: 2px;
}
.calculatorIMGResultRightINSS5 span {
	color: #f99401;
}

.caixaNumeroINSS5 {
	background: linear-gradient(0deg, #2e2e2e 0%, #949494 100%);
	border-radius: 12px; /* Ajustado */
}

.caixaValorTotalINSS5 {
	background: linear-gradient(
		180deg,
		rgba(249, 169, 52, 0.8) 0%,
		rgba(249, 158, 26, 0.9) 50%,
		#f99401 100%
	);
	border-radius: 12px; /* Ajustado */
}

.textoValorTotalINSS5 {
	font-family: "Roboto Condensed";
	font-style: normal;
	font-weight: 700;
	font-size: 45px; /* Ajustado */
	text-align: center;
	color: #ffffff;
}

.numeroValorTotalINSS5 {
	font-family: "Roboto Condensed";
	font-style: normal;
	font-weight: 700;
	font-size: 55px; /* Ajustado */
	text-align: center;
	color: #ffffff;
	border: 0.5px solid #ffffff; /* Ajustado */
}

.caixaParcelaTotalINSS5 {
	background: linear-gradient(
		180deg,
		rgba(249, 169, 52, 0.8) 0%,
		rgba(249, 158, 26, 0.9) 50%,
		#f99401 100%
	);
	border-radius: 12px; /* Ajustado */
}

.textoParcelaTotalINSS5 {
	font-family: "Roboto Condensed";
	font-style: normal;
	font-weight: 700;
	font-size: 45px; /* Ajustado */
	text-align: center;
	color: #ffffff;
}

.numeroParcelaTotalINSS5 {
	font-family: "Roboto Condensed";
	font-style: normal;
	font-weight: 700;
	font-size: 55px; /* Ajustado */
	text-align: center;
	color: #ffffff;
	border: 0.5px solid #ffffff; /* Ajustado */
}

.calculatorIMGResultGridINSS5 {
	position: relative;
	top: -24px;
	grid-row: 2 / 3;
	display: grid;
	grid-template-columns: repeat(2, 1fr); /* Cria duas colunas */
	gap: 10px; /* Espaçamento entre as colunas */
	width: 100%; /* Garante que o grid ocupe toda a largura disponível */
}

.caixaValoresPequenaINSS5 {
	background: linear-gradient(0deg, #2e2e2e 0%, #625d5d 50%, #625d5d 100%);
	border-radius: 3px;
	font-family: "Roboto Condensed";
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	text-align: center;
	color: #ffffff;
	padding: 3px;
	margin-top: 3px;
	width: fit-content;
	align-self: center;
	grid-row: 1 / 2;
	position: relative;
	top: -20px;
}

.calculatorIMGResultDivINSS5 {
	background: linear-gradient(
		90deg,
		rgba(133, 130, 130, 0.57) 0%,
		rgba(133, 130, 130, 0.57) 50%,
		#949494 100%
	);
	border-radius: 12px;
	display: grid;
	column-gap: 18px;
	row-gap: 8px;
	justify-items: center;
	align-content: space-evenly;
	height: 138px;
	width: fit-content;
	align-self: center;
	padding: 10px;
	position: relative;
	top: 10px;
}

.calculatorIMGResultValuesINSS5 {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	color: #ffffff;
	font-size: 8px; /* Ajustado */
}

.calculatorIMGResultValuesINSS5 text {
	width: 10px; /* Ajustado */
	color: #ffffff;
	margin-bottom: 10px; /* Ajustado */
}

.calculatorIMGResultValuesINSS5 button {
	font-size: 7px; /* Ajustado */
	width: 70px; /* Ajustado */
	margin: 0;
	margin-top: 2px; /* Ajustado */
	height: fit-content;
	padding: 4px; /* Ajustado */
}

.calculatorIMGResultContratacaoINSS5 {
	font-family: "Roboto Condensed";
	font-style: normal;
	font-weight: bold;
	font-size: 12px; /* Ajustado */
	text-align: center;
	color: #000000;
	text-shadow: 0px 0.6px 8.3px #ffffff; /* Ajustado */
	margin-top: 21px;
}

.calculatorIMGResultEnderecosINSS5 {
	box-sizing: border-box;
	background: radial-gradient(
			50% 50% at 50% 50%,
			rgba(38, 80, 100, 0.7) 0%,
			rgba(38, 80, 100, 0.35) 70%,
			rgba(38, 80, 100, 0.175) 100%
		),
		linear-gradient(180deg, #4da2ca 0%, #397997 50%, #265064 100%);
	border-radius: 6px; /* Ajustado */
	font-family: "Roboto Condensed";
	font-style: normal;
	font-weight: 700;
	text-align: center;
	color: #ffffff;
	display: flex;
	flex-direction: row;
	padding: 4px;
}

.calculatorIMGResultEnderecosLeftINSS5 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 50%;
}

.calculatorIMGResultEnderecosRightINSS5 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 50%;
}

.calculatorIMGResultEnderecoINSS5 {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 2px 0;
	height: 10px;
	width: 100px;
}

.calculatorIMGResultEnderecoINSS5 img {
	border-radius: 18px; /* Ajustado */
	width: 10px; /* Ajustado */
	margin-bottom: 0;
	margin-right: 6px; /* Ajustado */
}

.calculatorIMGResultEnderecoINSS5 p {
	margin: 0;
	font-size: 8px;
}

.calculatorIMGResultTotaisINSS5 {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	margin-top: 16px;
}

.calculatorIMGResultTotalINSS5,
.calculatorIMGResultSubtotalINSS5 {
	box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.24);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 8px 0;
	background: linear-gradient(
		180deg,
		rgba(249, 169, 52, 0.8) 0%,
		rgba(249, 158, 26, 0.9) 50%,
		#f99401 100%
	);
	border-radius: 8px;
	color: #ffffff;
	width: 102px;
	height: 28px;
	flex-wrap: wrap;
	align-items: center;
	font-size: 10px;
	font-weight: 600;
}

.dindinResulTotalINSS5 {
	font-size: 11px; /* Ajustado */
	font-weight: bolder;
}

.dindinResulTotalINSS5 span {
	font-size: 9px; /* Ajustado */
	font-weight: 500;
}

.parcelaTotalINSS5 {
	margin-left: 7px; /* Ajustado */
}

.divContatoINSS5 {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-top: 8px;
	height: 42px;
}

.contatoINSS5 {
	display: flex;
	padding-right: 12px;
	padding-left: 8px;
	flex-direction: row;
	background: linear-gradient(0deg, #2e2e2e 0%, #949494 100%);
	border-radius: 14px;
	color: #ffffff;
	text-shadow: 0px 0.12px 1.2px #ffffff;
	height: 24px;
	width: 104px;
	align-items: center;
	box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.8);
}

.phone-iconINSS5 {
	width: 16px;
	margin-right: 8px;
	margin-bottom: 0;
	height: 16px;
	background-color: #ffffff;
	border-radius: 50%;
}

.textoNumeroINSS5 {
	font-family: "Roboto Condensed";
	font-style: normal;
	font-weight: 700;
	text-align: center;
	color: #ffffff;
	font-size: 12px;
	margin: 0;
}

.logoCreditoRealINSS5 {
	width: 42px;
	margin: 0;
}
