#calculatorComponentDivINSS4 {
	height: min-content;
}

#inputsContainerINSS4 {
	height: "115px";
}

#answerContainerINSS4 {
	height: fit-content;
	/* font-size: 10px; */
	margin: 0;
	padding: 0;
}

#answerContainerINSS4 h2, p {
    font-size: 12px;
}