.mainLogin {
	width: 100vw;
	height: 100vh;
	z-index: 1;
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.loginLogoImg {
	width: 60vh;
	margin-bottom: 21vh;
}

.formLogin {
	display: flex;
	flex-direction: column;
	width: 30%;
	margin-left: 21vw;
	align-items: center;
	margin-bottom: 10vh;
	text-align: center;
	justify-content: center;
}

#h3-login {
	font-size: 2em;
}

.inputDiv {
	display: flex;
	flex-direction: column;
	text-align: start;
}
