.section_buscar {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.filtros_equipes {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 2vh;
}

.main_equipes {
	display: flex;
	flex-direction: column;
	height: 100vh;
	width: 100vw;
	padding: 20px;
	background-color: #ffffff;
	margin: 0;
	border-radius: 8px;
}

.equipes_section {
	display: grid;
	grid-template-columns: 3fr 3fr;
	gap: 20px;
	column-gap: 20px;
	height: 70vh;
	padding: 10px;
	background-color: #ffffff;
	margin: 0 0 10px 0;
}

.equipe_equipes {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	width: min-content;
	padding: 2vh;
}

.button_editar {
	background-color: #2e2e2e;
}

.membro_equipes {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	width: 100%;
	align-items: center;
}

.membro_equipes h6 {
	margin: 4px;
	font-size: medium;
	font-weight: 600;
}

.membro_equipes img {
	width: 16px;
	height: 16px;
	border-radius: 50%;
	margin: 0 10px;
}

.membro_equipes button {
	width: 80px;
	height: 20px;
	padding: 0;
	font-size: small;
}

.Modal {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #ffffff;
	padding: 20px;
	border-radius: 8px;
	z-index: 1000;
}

.Modal label {
	display: block;
	margin-bottom: 10px;
}

.Modal input,
.Modal select {
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.Modal .BlueButton {
	display: block;
	width: 100%;
	padding: 10px;
	background-color: #007bff;
	color: #ffffff;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.Modal .BlueButton:hover {
	background-color: #0056b3;
}
