.backgroundFullGradient {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
	font-family: "Inter";
	z-index: -1;
	background: linear-gradient(9.6deg, #f99401, #ffffff, #ffffff, #ffffff);
}
