@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

body {
	background-color: white;
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
	font-family: "Inter";
}

#root {
	width: 100vw;
	display: flex;
	flex-direction: column;
}

input {
	background-color: #d9d9d9;
	border: none;
	border-radius: 10px;
	width: 300px;
	height: 36px;
	margin-bottom: 2vh;
}

label {
	color: black;
	font-weight: 300;
}

button {
	background-color: #f99401;
	color: white;
	border: none;
	border-radius: 30px;
	width: 300px;
	height: 39px;
	font-weight: bold;
}

h3 {
	color: black;
	font-weight: bold;
}

a {
	color: #265064;
	text-decoration: none;
	font-weight: bold;
}

form {
	display: flex;
	flex-direction: column;
}

select {
	padding-top: 9px;
	padding-bottom: 9px;
	border-radius: 30px;
	font-weight: bold;
	font-size: 16px;
	color: #2e2e2e;
	margin-right: 2vw;
	height: fit-content;
	width: fit-content;
	align-self: center;
	text-align: center;
	/* border: 2px solid #2e2e2e; */
}
