body {
	background: #ffffff;
	box-shadow: inset 0px -50px 50px -50px #f99401;
	margin: 0;
	min-height: 100vh;
}

.headerCalculator {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 100vw;
}

.checkboxDiv {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.checkbox {
	width: 21px;
	margin: 0;
	margin-right: 4px;
}

.buttonBaixarResultado {
	font-size: 15px;
	width: fit-content;
	padding-left: 8px;
	padding-right: 8px;
}

.divMenus {
	display: flex;
	flex-direction: row;
	width: 70vw;
	justify-content: center;
	margin-right: 12vw;
}

#calculatorLogo {
	margin: 0;
	height: 12vh;
	width: auto;
}

.mainCalculator {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	flex-wrap: wrap;
	align-items: center;
	align-self: center;
	height: 60vh;
	width: 60vw;
	background-color: white;
	border-radius: 12px;
	box-shadow: 0.2px 0.2px 11px 0px #d9d9d9;
}

.calculatorComponentDiv {
	display: flex;
	flex-direction: column;
	align-content: center;
	flex-wrap: wrap;
	width: 80vw;
	align-self: center;
	height: 88vh;
	justify-content: space-between;
	background: white;
	border-radius: 12px;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.titleCalculator {
	display: block;
	width: fit-content;
	background-color: #f99401;
	padding: 1vw;
	border-radius: 8px;
	color: white;
	font-weight: 600;
}

.inputsContainer {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	align-self: center;
}

.answerContainer {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	align-self: center;
	height: 48.6vh;
	width: 100%;
	background-color: white;
	border-radius: 12px;
	box-shadow: 0.2px 0.2px 11px 0px #d9d9d9;
}

.resultsContainer {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 200px;
	row-gap: 10px;
	height: max-content;
	align-content: flex-start;
}

.totaisContainer {
	display: flex;
	flex-direction: row;
	background-color: hsl(36, 99%, 49%);
	max-width: 100%;
	min-width: 99.5%;
	height: 6vh;
	padding: 4px;
	border-radius: 12px;
	align-items: center;
	justify-content: space-around;
	margin-bottom: 16px;
	margin: 0;
}

/* Estilos para o modal */
.modalCalculator {
	width: 400px;
	height: 90vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.ReactModal__Overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.75);
	display: flex;
	align-items: center;
	justify-content: center;
}

.ReactModal__Content {
	position: relative;
	width: 100%;
	height: auto;
	max-width: 400px; /* Largura típica de uma tela de celular */
	max-height: fit-content; /* Altura típica de uma tela de celular */
	background: white;
	overflow: auto;
	border-radius: 4px;
	outline: none;
	padding: 20px;
}

/* Estilos para o botão de fechar */
.close-button {
	font-size: 21px;
	color: gray;
	position: absolute;
	margin: 0;
	top: 0px;
	right: 10px;
	width: 40px;
	height: 40px;
	/* border: 1px solid gray; */
	background: white;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

/* Ajustes para o conteúdo do CalculatorIMGResult */
#CalculatorIMGResult {
	width: 100%;
	height: 100%;
}

.buttonModalDownload {
	margin-top: 30px;
}
